body{ 
	background-image: url("../images/floorv1.jpg");
}


h1{
	font-size: 50px;
}


#hdr{
	font-size: 15px;
}

.container {
		margin-top: 50px;

		height: 568px;
        
    background-color: rgb(219,216,145);
 
    
}

.col-md-10, .col-md-6 {

	align: center;
	text-align: center;
	
}

#button1 {
	margin-top: 200px;
	width: 500px;
	align: center;
	font-size: 25px;
}

#choice00 {

	align: center;
	text-align: center;
}

#choice00:hover {
  background-color: blue;
  color: white;
}

#choice01:hover  {
  background-color: blue;
  color: white;
}

#choice02:hover  {
  background-color: blue;
  color: white;
}

#choice03:hover  {
  background-color: blue;
  color: white;
}


#startOver{
	width: 500px;
	font-size: 25px;
}
